<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Flask Form 016</h1>
      <form id="form">
        <label for="text_field">Masukkan teks:</label>
        <input type="text" id="text_field" name="text_field" required />
        <button type="submit">Kirim</button>
      </form>
      <div id="response_container">
        <p id="response_label"></p>
      </div>
    </div>
    <script>
      const form = document.getElementById("form");
      const responseLabel = document.getElementById("response_label");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const response = await fetch("/", {
          method: "POST",
          body: formData,
        });
        const data = await response.json();
        responseLabel.textContent = data.message;
      });
    </script>
  </body>
</html>
